<header id="header" class="light">
  <div id="header-container">
    <a href="index.html" id="logo">
      <img id="logo-dark" src="resources/img/logo-dark.svg">
      <img id="logo-light" src="resources/img/logo-light.svg">
    </a>
    <div id="menu">
      <nav>
        <ul>
          <li><a href="index.html" class="menu-item active">{{ t.nav.home }}</a></li>
          <li><a href="templates.html" class="menu-item">{{ t.nav.starterProjects }}</a></li>
          <li><a href="http://blog.habemus.website" class="menu-item">{{ t.nav.blog }}</a></li>
          <li><a href="contact.html" class="menu-item">{{ t.nav.contact }}</a></li>
          <li><a href="#login" class="open-login-form">{{ t.nav.login }}</a></li>
        </ul>
        <div id="menu-overlay"></div>
      </nav>
      <div class="language-buttons">
        {% if lang === "pt-BR" %}
        <a href="/pt-BR" class="active">Pt </a>
        <span> | </span>
        <a href="/"> En</a>
        {% endif %}
        {% if lang === "en-US" %}
        <a href="/pt-BR">Pt </a>
        <span> | </span>
        <a href="/" class="active"> En</a>
        {% endif %}
      </div>
    </div>
    <div id="menu-right-command">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>