<div id="header-container">
  <a href="index.html" id="logo">
    <img id="logo-dark" src="{{ siteURL }}/resources/img/logo-dark.svg">
    <img id="logo-light" src="{{ siteURL }}/resources/img/logo-light.svg">
  </a>
  <div id="menu">
    <nav>
      <ul>
        <li>
          <a href="{{ siteURL }}/index.html" class="menu-item {% if file.path === 'index.html' %} active {% endif %}">{{ t.nav.home }}</a></li>
        <li>
          {% if lang === "pt-BR" %}
          <a
            href="/starter-projects/pt/"
            class="menu-item">
            {{ t.nav.starterProjects }}
          </a>
          {% endif %}
          {% if lang === "en-US" %}
          <a
            href="/starter-projects/"
            class="menu-item">
            {{ t.nav.starterProjects }}
          </a>
          {% endif %}
        </li>
        <li><a href="http://blog.habemus.website" class="menu-item">{{ t.nav.blog }}</a></li>
        <li>
          <a
            href="{{ siteURL }}/contact.html"
            class="menu-item {% if file.path === 'contact.html' %} active {% endif %}"
            >
            {{ t.nav.contact }}
          </a>
        </li>
        <li data-auth="logged-out">
          <a href="#login" class="open-login-form">{{ t.nav.login }}</a>
        </li>
        <li data-auth="logged-in" hidden>
          <a href="/dashboard">{{ t.nav.goToDashboard }}</a>
        </li>
        <li data-auth="logged-in" hidden>
          <a href="#logout">{{ t.nav.logOut }}</a>
        </li>
      </ul>
      <div id="menu-overlay"></div>
    </nav>
    <div class="language-buttons">
      {% if lang === "pt-BR" %}
      <a href="/pt-BR/{{ file.path }}" class="active">Pt </a>
      <span> | </span>
      <a href="/{{ file.path }}"> En</a>
      {% endif %}
      {% if lang === "en-US" %}
      <a href="/pt-BR/{{ file.path }}">Pt </a>
      <span> | </span>
      <a href="/{{ file.path }}" class="active"> En</a>
      {% endif %}
    </div>
  </div>
  <div id="menu-right-command">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>