<script>
  // configurations and shared data

  // TRANSLATIONS USED IN JS
  {% if lang === 'en-US' %}
  window.HABEMUS_TRANSLATIONS = {% include "resources/languages/en-US.json" %};
  {% endif %}
  
  {% if lang === 'pt-BR' %}
  window.HABEMUS_TRANSLATIONS = {% include "resources/languages/pt-BR.json" %};
  {% endif %}

  window.HABEMUS_DASHBOARD_URI = 'https://habemus.io/dashboard/';
</script>

<script src="bower_components/lazysizes/lazysizes.min.js" type="text/javascript" async></script>

<!-- build:js js/shared-sync-scripts.js -->
<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="js/menu-header.js" type="text/javascript" charset="utf-8"></script>
<script src="js/random-words-footer.js" type="text/javascript" charset="utf-8"></script>
<script src="js/auth.js" type="text/javascript" charset="utf-8"></script>
<!-- endbuild -->
