@import '../variables.less';

@import '../modules/reset.less';
@import '../modules/header.less';
@import '../modules/footer.less';

@import '../elements/text.less';
@import '../elements/loading.less';
@import '../elements/buttons.less';


.contact-opening {
  height: 70vh;
  background: url(../resources/img/contact.jpg) no-repeat bottom center fixed;
  background-size: cover;
}
