/*
** SECTION HOME
*/

#section-home {
  height: 100vh;
  background-color: #f5f5f5;
  
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #home-canvas {
    position: absolute;
    z-index: 1;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  > h1, > h2 {
    pointer-events: none;
  }
  
  > h1, > h2, > #start-now-buttons {
    /** position relative used to ensure text contents are above canvas **/
    position: relative;
    z-index: 2;
    user-select: none;
  }
    
  h1 {
    margin-bottom: 20px;
    font-size: 50px;
  }
  
  h2 {
    max-width: 600px;
    margin-bottom: 20px;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 18px;
    
    &:nth-child(2) {
      font-size: 24px;
    }
  }
  
  /**
    Override default font, so that critical path loading is faster
    Montserrat is the only font loading that blocks render
   */
  a.button {
    font-family: "Montserrat", sans-serif;
    display: block;
  }
}


// WIDTH FROM 361 TO 680
@media screen and (max-width: 420px) {

  #section-home {
    h1 {
        font-size: 30px;
      }
    
    h2 {
      font-size: 16px;
      
      &:nth-child(2) {
        font-size: 20px;
      }
    }
  }
}





/* 
** styles of lib typed
** http://www.mattboldt.com/demos/typed-js/
*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}