footer {
  color: @habemus-off-white;
  font-size: 14px;
  text-align: left;
  
  .site-map {
    background-color: @habemus-dark;
    width: 100%;
    
    .container {
      padding: 40px 0;
      max-width: @max-width;
      margin: 0 auto;
      
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; 
      
      .left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; 
        
        nav {
          width: 140px;
          margin-right: 20px;
          
          li {
            font-weight: 600;
            
            &:first-child {
              margin-bottom: 8px;
            }
            
            a {
              font-family: "Open Sans", sans-serif;
              color: @habemus-off-white;
              font-weight: 400;
              padding: 2px 0;
            }
          }
        }
      }
    }
  }
  
  .site-info {
    background-color: #484848;
    width: 100%;
    margin: 0 auto;
    
    .container {
      max-width: @max-width;
      margin: 0 auto;
      
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
      .words {
        padding: 24px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
        span {
          display: block;
          padding-right: 4px;
          
          &#word-change {
            color: @habemus-green-light;
            width: 140px;
          }
        }
        
        a {
          display: block;
          padding-right: 8px;
          
          img {
            display: block;
            width: 70px;
          }
        }
      }
      
      a {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: @habemus-off-white;
      }
    }
  }
}

// WIDTH FROM 361 TO 680
@media screen and (min-width: 361px) and (max-width: 680px) {
  
}
  