<!DOCTYPE html>
<html>
  <head>
    {% include "includes/shared-head.html" %}
    <link rel="stylesheet" href="css/about.css">
  </head>
  <body>
    {% include "includes/header-light.html" %}

    <div class="about-opening">
      <h1>{{ t.aboutUs.title }}</h1>
    </div>
    <section class="about-content-container">
      <div class="about-content">
        <p>{{ t.aboutUs.p1 }} <span>&#60;3</span></p>
        <br>
        <p>{{ t.aboutUs.p2 }}</p>
        <br>
        <p>{{ t.aboutUs.p3 }} <a href="http://blog.habemus.website/2016/03/07/nao-esconder-o-codigo.html" target="_blank">{{ t.aboutUs.readMore }}.</a>
        </p>
      </div>
    </section>
    <section class="about-team">
      <h2>{{ t.aboutUs.ourTeam }}</h2>
      <div class="team-members">
        <article>
          <a href="https://www.linkedin.com/in/luciana-heuko-a02b0870/" target="_blank">
            <img src="resources/img/team/luciana-heuko.svg" alt="alternative text" >
          </a>
          <h1>Luciana Heuko</h1>
          <h2>{{ t.aboutUs.lucianaTitle }}</h2>
          <p>{{ t.aboutUs.lucianaText }}
          </p>
        </article>
        <article>
          <a href="https://www.linkedin.com/in/simon-fan-a762ab6b/" target="_blank">
            <img src="resources/img/team/simon-fan.svg" alt="alternative text" >
          </a>
          <h1>Simon Fan</h1>
          <h2>{{ t.aboutUs.simonTitle }}</h2>
          <p>{{ t.aboutUs.simonText }}</p>
        </article>
      </div>
    </section>
    <section class="about-form-container" id="work-with-us">
      <div class="about-form">
        <h2>{{ t.aboutUs.joinTeam }}!</h2>
        <p>
          {{ t.aboutUs.joinTeamText }}
        </p>
        <br>
        <p>
          {{ t.aboutUs.sendMsg }} \o/
        </p>
        <form action="http://formspree.io/hello@habem.us" method="post">
          <input type="hidden" name="_subject" value="Novo membro para o time!" />
          <input type="hidden" name="_cc" value="simonxd@gmail.com" />
          <div
            class="field-container"
            validate-on="change">
            <label data-i18n="name">{{ t.aboutUs.name }}</label><br>
            <input
              type="text"
              name="name"
            >
            <div class="field-error-message"></div>
          </div>
          <div
            class="field-container"
            validate-on="change">
            <label data-i18n="mail">{{ t.aboutUs.email }}</label><br>
            <input
              type="text"
              name="email"
            >
            <div class="field-error-message"></div>
          </div>
          <div
            class="field-container"
            validate-on="change">
            <label data-i18n="social">{{ t.aboutUs.linkedinFacebook }}</label><br>
            <input
              type="text"
              name="social"
            >
            <div class="field-error-message"></div>
          </div>
          <div
            class="field-container"
            validate-on="change">
            <label data-i18n="msg">
              {{ t.aboutUs.aboutYou }}
            </label><br>
            <textarea
              type="text"
              name="message"
            ></textarea>
            <div class="field-error-message"></div>
          </div>

          <button type="submit" class="button primary" data-i18n="submitButton">{{ t.aboutUs.sendMessage }}</button>
          <div class="form-status"> </div>
        </form>
      </div>
    </section>

    {% include "includes/footer.html" %}

    {% include "includes/shared-scripts.html" %}

    {% include "includes/shared-scripts-async.html" %}
  </body>
</html>
