<!DOCTYPE html>
<html>
  <head>
    {% include "includes/shared-head.html" %}

    <link rel="stylesheet" href="css/contact.css">
  </head>
  <body>
    {% include "includes/header-light.html" %}

    <div class="contact-opening">
      <h1>{{ t.contact.contactTitle }}</h1>
    </div>
    <section class="contact-content">
      <section class="contact-form">
        <p>{{ t.contact.contactP1 }}</p>
        <p>{{ t.contact.contactP2 }}</p>
        <p>{{ t.contact.contactP3 }}</p>
        <form action="//formspree.io/hello@habem.us" method="post" id="contact-form">
          <input type="hidden" name="_subject" value="Novo contato!" />
          <input type="hidden" name="_cc" value="simonxd@gmail.com" />
          <div
            class="field-container"
            validate-on="change">
            <label data-i18n="name">{{ t.contact.name }}</label><br>
            <input
              type="text"
              name="name"
              placeholder="name" data-i18n="[placeholder]namePlaceholder">
            <div class="field-error-message"></div>
          </div>
          <div
            class="field-container"
            validate-on="change">
            <label data-i18n="mail">e-mail</label><br>
            <input
              type="text"
              name="email"
              placeholder="e-mail" data-i18n="[placeholder]mailPlaceholder">
            <div class="field-error-message"></div>
          </div>
          <div
            class="field-container"
            validate-on="change">
            <label data-i18n="msg">{{ t.contact.message }}</label><br>
            <textarea
              type="text"
              name="message"
              placeholder="message" data-i18n="[placeholder]msgPlaceholder"></textarea>
            <div class="field-error-message"></div>
          </div>

          <div class="field-container">
            <button type="submit" class="button primary" data-i18n="submitButton">{{ t.contact.sendMessage }}</button>
          </div>
          <div class="form-status"> </div>
        </form>
      </section>
      <section class="contact-info">
        <dl>
          <dt>E-mail</dt>
          <dd>hello@habem.us</dd>
        </dl>
        <dl>
          <dt>{{ t.contact.location }}</dt>
          <dd>Rua Bela Cintra, 419</dd>
          <dd>São Paulo - SP</dd>
          <dd>Brasil</dd>
        </dl>
        <dl>
          <dt>{{ t.contact.followUs }}</dt>
          <dd>
            <a href="https://www.facebook.com/habemusplatform" target="_blank">
              <img src="resources/img/icons/facebook.svg" alt="facebook icon" >
              facebook
            </a>
          </dd>
          <dd>
            <a href="https://twitter.com/habemus_web" target="_blank">
              <img src="resources/img/icons/twitter.svg" alt="twitter icon" >
              twitter
            </a>
          </dd>
          <dd>
            <a href="https://github.com/habemus" target="_blank">
              <img src="resources/img/icons/github.svg" alt="github icon" >
              github
            </a>
          </dd>
        </dl>
        <dl>
          <a href="about.html">{{ t.contact.workWithUs }}</a>
        </dl>
      </section>
    </section>

    {% include "includes/footer.html" %}
    {% include "includes/shared-scripts.html" %}
    <script src="{{ siteURL }}/js/contact-form.js" type="text/javascript" charset="utf-8"></script>

    {% include "includes/shared-scripts-async.html" %}
  </body>
</html>
