<!DOCTYPE html>
<html>
  <head>
    {% include "includes/shared-head.html" %}
    <link rel="stylesheet" href="css/home/index.css">
  </head>
  
  <body>
    {% include "includes/header.html" %}
    
    <section id="section-home">
      <canvas id="home-canvas">
        
      </canvas>
      <div class="content">
        <h2>{{ t.home.build }}</h2>
        <h1>
          <span id="typed">
          </span>
          <span id="typed-strings" hidden>
            {% for item in t.home.buildProjects %}
              <p>{{ item }}</p>
            {% endfor %}
          </span>
        </h1>
        <h2>{{ t.home.subtitle }}</h2>
        <a data-auth="logged-out" href="#login" class="button outline">
          {{ t.home.startNow }}
        </a>
        <a data-auth="logged-in" hidden href="/dashboard" class="button outline">
          {{ t.home.startNow }}
        </a>
      </div>
      
    </section>
    <section id="section-code">
      <article>
        <h2>{{ t.sectionCode.h2 }}:</h2>
        <h1 class="has-dot">{{ t.sectionCode.h1 }}</h1>
        <p>{{ t.sectionCode.p }}</p>
      </article>
      <div id="webeditor-image">
        <img src="resources/img/webeditor-1.jpg" alt="editor de código online da Habemus" title="Webeditor Habemus">
      </div>
      <section class="details">
        <article>
          <img src="resources/img/features/feature01-code.svg" alt="alternative text" >
          <h1>{{ t.sectionCode.setupReady }}</h1>
          <p>{{ t.sectionCode.setupReadyText }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature02-code.svg" alt="alternative text" >
          <h1>{{ t.sectionCode.potentialCss3 }}</h1>
          <p>{{ t.sectionCode.potentialCss3Text }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature03-code.svg" alt="alternative text" >
          <h1>{{ t.sectionCode.codeSafe }}</h1>
          <p>{{ t.sectionCode.codeSafeText }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature04-code.svg" alt="alternative text" >
          <h1>{{ t.sectionCode.controlHistory }}</h1>
          <p>{{ t.sectionCode.controlHistoryText }}</p>
        </article>
      </section>
    </section>
    <section id="section-test">
      <div class="oblique-plan">
        <article>
          <h1 class="has-dot">{{ t.sectionTest.h1 }}</h1>
          <p>{{ t.sectionTest.p }}</p>
        </article>
        <div id="devices-composition">
          <!-- animacao devices -->
          <img src="resources/img/test-devices.png" alt="alternative text" >
        </div>
      </div>
      <section class="details">
        <article>
          <img src="resources/img/features/feature01-test.svg" alt="alternative text" >
          <h1>{{ t.sectionTest.previewRealTime }}</h1>
          <p>{{ t.sectionTest.previewRealTimeText }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature02-test.svg" alt="alternative text" >
          <h1>{{ t.sectionTest.efficientTests }}</h1>
          <p>{{ t.sectionTest.efficientTestsText }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature03-test.svg" alt="alternative text" >
          <h1>{{ t.sectionTest.shareableUrl }}</h1>
          <p>{{ t.sectionTest.shareableUrlText }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature04-test.svg" alt="alternative text" >
          <h1>{{ t.sectionTest.codeInterfaceConnected }}</h1>
          <p>{{ t.sectionTest.codeInterfaceConnectedText }}</p>
        </article>
      </section>
    </section>
    <section id="section-publish">
      <article>
        <h1 class="has-dot">{{ t.sectionPublish.h1 }}</h1>
        <p>{{ t.sectionPublish.p }}</p>
      </article>
      <div id="publish-image">
        <img src="resources/img/webeditor-2-publish.png" alt="editor de código online da Habemus" title="Webeditor Habemus">
      </div>
      <section class="details">
        <article>
          <img src="resources/img/features/feature01-publish.svg" alt="alternative text" >
          <h1>{{ t.sectionPublish.hassleFree }}</h1>
          <p>{{ t.sectionPublish.hassleFreeText}}</p>
        </article>
        <article>
          <img src="resources/img/features/feature02-publish.svg" alt="alternative text" >
          <h1>{{ t.sectionPublish.autoDeploy }}</h1>
          <p>{{ t.sectionPublish.autoDeployText }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature03-publish.svg" alt="alternative text" >
          <h1>{{ t.sectionPublish.domain }}</h1>
          <p>{{ t.sectionPublish.domainText }}</p>
        </article>
        <article>
          <img src="resources/img/features/feature04-publish.svg" alt="alternative text" >
          <h1>{{ t.sectionPublish.workSafe }}</h1>
          <p>{{ t.sectionPublish.workSafeText }}</p>
        </article>
      </section>
    </section>
    <section id="section-templates">
      <article>
        <h1>{{ t.sectionTemplates.h1 }}</h1>
        <h2>{{ t.sectionTemplates.h2 }}</h2>
        <p>{{ t.sectionTemplates.p }}</p>
      </article>
      <div class="templates-gallery">
        <figure>
          <img src="resources/img/starter-projects/screenshot-flexgrid.png" alt="screenshot of starter project flex grid" >
          <figcaption>
            <h1>{{ t.sectionTemplates.flexGrid }}</h1>
            <div class="buttons">
              <a 
                class="button"
                href="http://starter-projects.habemus.website/2017/01/24/flex-grid.html">
                {{ t.sectionTemplates.details }}
              </a>
              <a
                class="button primary"
                target="_blank"
                data-action="deploy"
      	        data-template-url="{{ site.url }}/resources/starter-projects/{{ post.ref }}/website.zip">
                {{ t.sectionTemplates.start }}
              </a>
            </div>
          </figcaption>
        </figure>
        <figure>
          <img src="resources/img/starter-projects/screenshot-smooth-scroll.png" alt="screenshot of starter project smooth scroll" >
          <figcaption>
            <h1>{{ t.sectionTemplates.smoothScroll }}</h1>
            <div class="buttons">
              <a 
                class="button"
                href="http://starter-projects.habemus.website/2017/01/24/smooth-scroll.html">
                {{ t.sectionTemplates.details }}
              </a>
              <a
                class="button primary"
                target="_blank"
                data-action="deploy"
      	        data-template-url="{{ site.url }}/resources/starter-projects/{{ post.ref }}/website.zip">
                {{ t.sectionTemplates.start }}
              </a>
            </div>
          </figcaption>
        </figure>
        <figure>
          <img src="resources/img/starter-projects/screenshot-smooth-scroll-animation.png" alt="screenshot of starter project smooth scroll with animation" >
          <figcaption>
            <h1>{{ t.sectionTemplates.smoothScrollAnimation }}</h1>
            <div class="buttons">
              <button type="submit" class="button gray">detalhes</button>
              <button type="submit" class="button">começar</button>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="other-buttons">
        <a href="http://starter-projects.habemus.website/">{{ t.sectionTemplates.viewMore }}</a>
        <br>
        <br>
        <a
          class=""
          target="_blank"
          data-action="deploy"
          data-template-url="{{ site.url }}/resources/starter-projects/{{ post.ref }}/website.zip">
          {{ t.sectionTemplates.startBlank }}</a>
      </div>
    </section>
    <section id="section-web">
      <div class="web-technology">
        <figure>
          <img src="resources/img/web-html5.png" alt="logo da linguagem html5" >
          <figcaption>
            HTML5
          </figcaption>
        </figure>
        <figure>
          <img src="resources/img/web-css3.png" alt="logo da linguagem css3" >
          <figcaption>
            CSS3
          </figcaption>
        </figure>
        <figure>
          <img src="resources/img/web-js.png" alt="logo da linguagem javascript" >
          <figcaption>
            JavaScript
          </figcaption>
        </figure>
      </div>
      <article>
        <h1>{{ t.sectionWeb.powerOfWeb }}</h1>
        <p>{{ t.sectionWeb.powerOfWebText }}</p>
      </article>
    </section>
    
    {% include "includes/footer.html" %}
    
    {% include "includes/shared-scripts.html" %}
    
    <script src="js/lib/typed.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/random-words-home.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lib/habemus-buttons.js" type="text/javascript" charset="utf-8"></script>
    
  </body>
</html>
